html {
  font-size: 1.125rem;
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Lucida Sans', Arial, sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  min-width: 350px;
  margin: 0px;
  padding: 0px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  /* background-image: linear-gradient(
    120deg,
    #eea2a2 0,
    #bbc1bf 19%,
    #57c6e1 42%,
    #b49fda 79%,
    #7ac5d8 100%
  ); */
  /* background-image: linear-gradient(120deg,
      #ffbc95 1%,
      #ffccb1 19%,
      #ffd5be 42%,
      #f9dccc 79%,
      #ffffff 100%); */
  /* background-color: rgba(255, 126, 20, 0.37); */
  /* background: linear-gradient(#fff, #555); */
  /* background-image: linear-gradient(120deg,
      #777 0,
      #999 19%,
      #ccc 42%,
      #eee 79%,
      #fff 100%); */
  background-size: 400% 400%;
  background-position: var(--bg-position);
  transition: background-position 2s ease;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.separator::before {
  content: '•';
  color: white;
  padding: 0.4rem;
}

a {
  text-decoration: none;
  color: inherit;
}

/* a:active {
  color: blueviolet;
} */

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px lightgrey;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #575757;
}

/* Handle active */
::-webkit-scrollbar-thumb:active {
  background: #3d3d3d;
}

::selection {
  background: red;
  color: white;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: darkred;
  animation: spin 0.5s linear infinite;
  margin: auto;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
